.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px;
}

.sidebar h1 {
  color: #0caea9;
  font-size: 3em;
  margin: 0;
}

.option_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.option {
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #0caea9;
  color: white;
  font-weight: 600;
}

.option:hover {
  background-color: #0caea9ca;
}

.option.active {
  background-color: white;
  color: #0caea9;
  border: 2px solid #0caea9;
}

.settings {
  height: 30px;
  padding: 10px;
  margin-top: auto;
  color: white;
  cursor: pointer;
  background-color: #0caea9ca;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.icon {
  height: 100%;
}
